@font-face {
    font-family: "dodger";
    src: url("../fonts/Dodgv2c.ttf");
  }
  
  * {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    font-size: 14px;
    font-family: "dodger";
  }
  
  #wrapper {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid orange;
    overflow: hidden;
  }
  
  /* HEADER start */
  
  #header {
    display: flex;
    justify-content: space-evenly;
    height: 4em;
    background-color: #444444;
  }
  
  .logo img {
    max-height: 4em;
  }
  
  .socialNetworks img {
    max-height: 4em;
  }
  
  .navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #logged {
    color: lightblue;
    padding: 0.9em;
  }
  
  #logout{
    padding: 0.9em;
    background-color: #ffc400;
    cursor: pointer;
  }
  
  .btn {
    display: initial;
  }
  
  .btn-delete {
    display: none;
  }
  
  /* Login */
  
  #delete,
  .delete,
  .remove {
    display: none;
  }
  
  #show,
  .show {
    display: initial;
  }
  
  .logging {
    padding: 2em;
    display: initial;
  }
  
  #error,
  #error1,
  .error {
    padding: 1em;
    color: red;
  }
  
  .form-group {
    padding: 0.5em;
  }
  
  /* Registration */
  
  /* HEADER end */
  

  
  
